{% load static %}


{% for quote in quotes %}
    <!-- .hentry -->
    <article class="hentry post has-post-thumbnail slideUp">

        <!-- .featured-image -->
        <div class="featured-image">
            <a href="{% url 'quote' slug=quote.slug %}"><img src="{{ quote.file_image.file_thumbnail_550_550.url }}" alt="blog-image"></a>
        </div>
        <!-- .featured-image -->



        <!-- .hentry-middle -->
        <div class="hentry-middle">

            <!-- .entry-header -->
            <header class="entry-header">

                <!-- .entry-meta -->
                <div class="entry-meta">

                    <span class="entry-date"></span>

                </div>
                <!-- .entry-meta -->

                <!-- .entry-title -->
                <h2 class="entry-title"><a href="{% url 'quote' slug=quote.slug %}">{{ quote.title}}</a></h2>

            </header>
            <!-- .entry-header -->

            <!-- .entry-content -->
            <div class="entry-content">

                <p>{{ quote.body }}
                    <br>
                    <span class="more">
                                                <a href="{% url 'quote' slug=quote.slug %}" class="more-link">Lire l'analyse</a>
                                            </span>
                </p>

            </div>
            <!-- .entry-content -->

        </div>
        <!-- .hentry-middle -->


    </article>
    <!-- .hentry -->
{% endfor %}

