{% load static %}
{% load pipeline %}
{% load last_quotes %}
{% load last_tags %}

<!doctype html>

<html lang="en"
      class="minimal-style is-menu-fixed is-always-fixed is-selection-shareable blog-animated header-light header-small"
      data-effect="slideUp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:locale" content="fr_FR{">

    {% block 'header' %}{% endblock %}

    <!-- FAV and TOUCH ICONS -->
    <link rel="shortcut icon" href="https://static.phraseart.org/images/favicon.ico">
    <link rel="apple-touch-icon" href="https://static.phraseart.org/images/apple-touch-icon.png"/>

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Noto+Sans:400,400i,700,700i|Poppins:300,400,500,600,700"
          rel="stylesheet">

    <!-- STYLES -->
    {% stylesheet 'website' %}

    <!-- INITIAL SCRIPTS -->

</head>

<body class="page">

<!-- page -->
<div id="page" class="hfeed site">
    <!-- header -->
    <header id="masthead" class="site-header" role="banner">
        <!-- site-navigation -->
        <nav id="primary-navigation" class="site-navigation primary-navigation" role="navigation">
            <!-- layout-medium -->
            <div class="layout-medium">
                <!-- site-title : image-logo -->
                <h1 class="site-title">
                    <a href="/" rel="home">
                        <img src="https://static.phraseart.org/images/logo.png" alt="logo_phraseart">
                        <span class="screen-reader-text">MisTe.io</span>
                    </a>
                </h1>
                {% include "theme/menu.html" %}
            </div>
            <!-- layout-medium -->
        </nav>
        <!-- site-navigation -->
    </header>
    <!-- header -->

    {% block 'body' %}
    {% endblock %}

    <!-- site-footer -->
    <footer id="colophon" class="site-footer" role="contentinfo">
        <!-- layout-medium -->
        <div class="layout-medium">
            <!-- widget-area -->
            <div class="widget-area" role="complementary">
                <div class="row">
                    <div class="col-sm-6 col-md-4">

                        <aside class="widget widget_mc4wp_widget">
                            <h3 class="widget-title">Inscription à la newsletter</h3>
                            <div class="form mc4wp-form">
                                <form method="get" action="/inscription_newsletter">
                                    <p>
                                        <label>Email address: </label>
                                        <input type="email" name="email" placeholder="Votre adresse email" required="">
                                    </p>
                                    <p>
                                        <input type="submit" value="S'enregistrer">
                                    </p>
                                </form>
                            </div>
                        </aside>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <aside class="widget widget_categories">
                            <h3 class="widget-title">Derniers Mots-clés</h3>
                            <div class="tptn_posts tptn_posts_widget">
                                <ul>
                                    {% show_last_tags %}
                                </ul>
                            </div>
                        </aside>

                    </div>

                    <div class="col-sm-12 col-md-4">
                        <aside class="widget widget_widget_tptn_pop">
                            <h3 class="widget-title">Dernières Citations</h3>
                            <div class="tptn_posts tptn_posts_widget">
                                <ul>
                                    {% show_last_quotes %}
                                </ul>
                            </div>
                        </aside>
                    </div>

                </div>
                <!-- site-title-wrap -->
                <div class="site-title-wrap">
                    <h1 class="site-title">
                        <a href="/" rel="home">
                            <img src="https://static.phraseart.org/images/logo.png" alt="logo_phraseart">
                        </a>
                    </h1>
                    <!-- site-title -->

                    <p class="site-description">L'ordre des mots dans une phrase est art</p>
                    <!-- footer-social -->
                    <div class="footer-social">
                        <div class="textwidget">
                            <a class="social-link facebook" href="https://www.facebook.com/Phraseart-107583934183716"
                               target="_blank"></a>
                            <a class="social-link twitter" href="https://twitter.com/phraseart" target="_blank"></a>
                            <a class="social-link pinterest" href="https://www.pinterest.fr/phraseart/"
                               target="_blank"></a>
                            <a class="social-link instagram" href="https://www.instagram.com/alicia_phraseart/"
                               target="_blank"></a>
                        </div>
                        <!-- .site-info -->
                        <div class="site-info">

                            <!-- layout-medium -->
                            <div class="layout-medium">

                                <div class="textwidget">Développé avec <i class="pw-icon-pencil-alt"></i> <em>par</em>
                                    <a href="https://miste.io" target="_blank"> <b>MisTeIO</b> </a>
                                </div>

                            </div>
                            <!-- layout-medium -->
                        </div>
                    </div>
                    <!-- site-title-wrap -->
                </div>
                <!-- footer-social -->
            </div>
        </div>
        <!-- widget-area -->
    </footer>
</div>
<!-- layout-medium -->


<!-- .site-info -->

<!-- page -->
<div class="cookie-bottom-footer">
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
    if (!window.jQuery) {
        document.write('<script src="js/jquery-3.1.1.min.js"><\/script>');
    }
</script>
{% javascript 'website' %}

{% block 'bottom' %}
{% endblock %}

</body>
</html>
