<a class="menu-toggle"><span class="lines"></span></a>

<!-- nav-menu -->
<div class="nav-menu">
    <ul>
        <li><a href="">Citation</a>
        <li><a href="">PAROLE</a></li>
        <li><a href="">LIVRE</a></li>
        <li><a href="">PROVERBE</a></li>
        <li><a href="{">FILM</a></li>

        <li><a href="">CONTACT</a>
            <ul>
                <li><a href="">NOUS CONNAITRE</a></li>
            </ul>
        </li>

    </ul>
</div>
<!-- nav-menu -->

<a class="search-toggle toggle-link"></a>

<!-- search-container -->
<div class="search-container">
    <div class="search-box" role="search">
        <form method="get" class="search-form" action="/recherche">
            <label>Chercher une citation
                <input type="search" id="search-field" placeholder="Ecrivez ici votre recherche" name="q">
            </label>
            <input type="submit" class="search-submit" value="Chercher">
        </form>
    </div>
</div>
<!-- search-container -->

<!-- social-container -->
<div class="social-container">
    <form action="/search" method="GET">
    <div class="row">
        <div style="margin-top: -5px;">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Chercher une citation" id="txtSearch"/>
                <div class="input-group-btn">

                </div>
            </div>
        </div>
    </div>
    </form>
</div>
<!-- social-container -->