<div id="content" class="site-content" role="main"> <!-- .hentry -->
    <article class="hentry page page-404">
        <!-- .entry-content -->
        <div class="entry-content">
            <form role="search" method="get" class="search-form" action="/recherche">
                <label>
                    <span class="screen-reader-text">Search for:</span>
                    <input type="search" class="search-field" placeholder="Ecrivez au moins un mot clé" value=""
                           name="q" title="recherche pour:">
                </label>
                <input type="submit" class="search-submit" value="Chercher">
            </form>
        </div>
        <!-- .entry-content -->
    </article>
    <!-- .hentry -->
</div>